streamlit>=1.37
yfinance>=0.2.40
pandas>=2.2.0
numpy>=1.26
matplotlib>=3.8
scikit-learn>=1.4
html5lib>=1.1
lxml>=4.9
requests>=2.32
python-dateutil>=2.9
pytz>=2024.1
streamlit-autorefresh>=1.0
finnhub-python
